<!--SECTION EXPERIENCES-->

<section id="section3" class="cd-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="box-content experiences">
                    <h1>Experiences</h1>

                    <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Research Assistant<span class="data">2014 - Present</span></h2>
                        <p><b>Intelligent Information Processing Lab, Cal Poly Pomona</b></p>
                        <ul>
                            <li>Designed machine learning based algorithms for search relevance and aspect identification researches.</li>
                            <li>Designed and developed Java programs for opinion mining related researches in the lab.</li>
                            <li>Created and continuously maintained the development of the <a href="https://github.com/AnakinFoxe/CPPNLPLib" target="_blank">Java based NLP library.</a></li>
                            <li>First author of the <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7008668" target="_blank">paper</a> published on IEEE SSCI 2014 conference.</li>
                            <li>Second author of the <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=7050782" target="_blank">paper</a> published on IEEE ICSC 2015 conference.</li>
                        </ul>
                    </div>
                    <div class="col-md-12 list-experiences">
                        <h2><i class="fa fa-briefcase"></i>Software Design Engineer<span class="data">2008 - 2013</span></h2>
                        <a href="https://www.alcatel-lucent.com/" target="_black"><p><b>Alcatel-Lucent</b></p></a>
                        <ul>
                            <li>Responsible for requirement analysis, system design, test plan design and software development.</li>
                            <li>Designed and developed the core component of the software: downlink radio resource management.</li>
                            <li>One of the three-men team built the software architecture in less than two months and delivered in quality.</li>
                            <li>One of the two-men team optimized the software design and made it run 5x faster.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="box-content">-->
                    <!--<h1>Experiences</h1>-->

                    <!--<div class="col-md-6">-->
                        <!--<div class="box-text">-->
                            <!--<h2>WHAT I KNOW</h2>-->

                            <!--<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.-->
                                <!--Prae sent non sem eu mi malesuada viverra volutpat ut libero. Nullam a venenatis tellus.-->
                                <!--Nam fen convallis tristique. In imperdiet est sed aliquet imperdiet.-->
                            <!--</p>-->

                            <!--<p class="slogan">" Creativity requires the courage to let go of certainties "</p>-->
                            <!--<img class="signature" src="images/signature.jpg" alt=""/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <!--<div class="skills-area triggerAnimation animated" data-animate="fadeInLeft">-->

                            <!--<div class="box-text">-->
                                <!--<h2>MY Skills</h2>-->

                                <!--<div class="skills-box">-->
                                    <!--<div class="skills-progress">-->
                                        <!--<p>Develope<span>87%</span></p>-->

                                        <!--<div class="meter nostrips develope">-->
                                            <!--<p style="width: 87%"></p>-->
                                        <!--</div>-->
                                        <!--<p>Design<span>95%</span></p>-->

                                        <!--<div class="meter nostrips design">-->
                                            <!--<p style="width: 95%"></p>-->
                                        <!--</div>-->
                                        <!--<p>Branding<span>98%</span></p>-->

                                        <!--<div class="meter nostrips branding">-->
                                            <!--<p style="width: 98%"></p>-->
                                        <!--</div>-->
                                        <!--<p>Web applications<span>65%</span></p>-->

                                        <!--<div class="meter nostrips web-applications">-->
                                            <!--<p style="width: 65%"></p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section><!-- cd-section -->