	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>HISTORY</h2>
                        <p>Hi there, Just setup this website a couple of days ago. I'm still working on it. Please head to Contact page and let me know your thoughts. Thanks.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/whoami.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal Info</h2>
                        <p>Name: Xing HU</p>
                        <p>Phone: +1 626-626-6342</p>
                        <p>E-mail: xing.y.hu@gmail.com</p>
                        <h2>Education</h2>
                        <p>Cal Poly Pomona</p>
                        <p>M.S. in Computer Science</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>TODO: write something at here</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->