	<section id="section1" class="cd-section">
      <div class="container">
          <div class="row">
           <div class="col-md-12">
             <div class="box-content">
		        <h1> WHO I AM </h1>
                <div class="col-md-4">
                    <div class="box-text">
                        <h2>HISTORY</h2>
                        <p>Hi there, I'm Xing. Before I came to U.S. with my wife in fall 2013, I have been working in Shanghai for a few years.</p>
                        <p>Right now we live in the Greater Los Angeles Area while I'm pursuing the Master's degree.</p>
                        <p>Life at here is fun, colorful but challenging. We love it.</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/whoami.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>Personal Info</h2>
                        <p>Name: Xing HU</p>
                        <p>Phone: +1 626-626-6342</p>
                        <p>E-mail: xing.y.hu@gmail.com</p>
                        <h2>Education</h2>
                        <p>Cal Poly Pomona</p>
                        <p>M.S. in Computer Science</p>
                    </div>
                 </div>
             </div><!--close box content-->
		  </div>
        </div><!--close row-->
      </div><!--close container-->
      <div class="parallax1">
        <div class="overlay">
            <div class="container">
              <div class="row">

               <div class="col-md-12">
                <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object.jpg" alt="" />
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-text">
                        <h2>WHAT I DO</h2>
                        <p>Technically, I'm a Full-stack Developer. I have experience of creating Web Apps from front-end to back-end,
                            and experience of creating Mobile Apps. Well, not a professional, yet.</p>
                        <p>So far, I'm just a guy who's working on his thesis, has pretty good knowledge on algorithms and data structures,
                            loves Java, Android, Linux, OSX, Mac, etc...
                        </p>
                        <p>Oh, and I love <a href="images/milsim.jpg" target="_blank">Airsoft</a>!</p>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="box-img">
                        <img src="images/object1.jpg" alt="" />
                    </div>
                 </div>
		      </div>
          </div>
        </div>
       </div>
      </div>
	</section><!-- cd-section -->